body {
  background-image: linear-gradient(#fff, rgba(95, 213, 243, 0.6)),
    url(./img/Email.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.card {
  opacity: 0.8;
  backdrop-filter: blur(2px);
}
